{"filter":false,"title":".gitignore","tooltip":"/frontend/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":60,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":3,"state":"start","mode":"ace/mode/ini"}},"timestamp":1578789996819,"hash":"4ed5f67102584810fffa278ec3228abf8fb0bba2"}